/* Body content   */
body{
    background-color: #161925;
}
body::-webkit-scrollbar {
  
    display: none;
  
}
 body{
      margin: 0px;
}

/*             NAV BAR               */

 /* The navigation bar */
.title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
     
      font-size: 100px;
      font-family: Bebas Neue , cursive;
  }
    .container {
      position: relative;
      text-align: center;
      color: white;
  }
  
  .navbar {
      overflow: hidden;
      background-color: #23395B;
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      height: 80px;
      border-radius: 5px;  
  
  }
    
    /* Links inside the navbar */
    .navbar a {
      float: left;
      display: flex;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      height: 10px;
      
    }
    
    /* Change background on mouse-over */
    .navbar a:hover {
      background: rgb(97, 93, 93);
      color: black;
    }
    
    /* Main content */
    .main {
      margin-top: 30px; /* Add a top margin to avoid content overlay */
    }
    
    .navbutton a:hover {
        background: rgb(97, 93, 93);
        color: black;
      }
    
    .navbutton{
        border-radius: 10px;
        height: 23px;
        width: 180px;
        margin-left: 20px;
        background-color: transparent;
        color: white;
        border-width: thin;
        border-color: grey;
        
    }
    /* Nav Bar End */

    .navsearch{
        margin: 20px;
        width: 300px;
        border-radius: 10px;
        height: 22px;
    }

    .cartbutton{
        margin-left: 20px;
        border-radius: 4px;
        background-color: transparent;
        color: white;
        border-width: thin;
        border-color: grey;
    }

    .malwart{
        margin: 10px;
        color: white;
    }
    /* Carousel */
    #carouselExampleSlidesOnly{
        margin-top: 150px;
        
    }
    
    .d-block{
        width: 700px;
        height: 400px;

    }

    .carousel-item.active{
        display: flex;
    }

    .carouselink{
    display: flex;
        float: left;
    background-color: #8EA8C3;
    height: 400px;
    
    align-items: center;
    align-content: center;



    }

    .carouselhead{
        text-align: center;
        margin: 50px;
        margin-right: 9px;
    }
    .btn.btn-primary{
        margin-right: 20px;
        border-radius: 20px;
        background-color: #406E8E;
    }
    /* PRODUCT CAROSUEL START */
    .product.categorys{
    background-color: #8EA8C3;
    height: 370px;
    border-radius: 25px;
    display: flex;
    }
    .product.box{
        margin-top: 30px;
        margin-left: 50px;
        height: 300px;
        width: 300px;
        background-color: #406E8E;
        border-radius: 10px;
        text-align: center;
        font-size: 19px;
        font-family: sans-serif;
        
    }

    .d-block.w-20{
        margin: 1px;
        height: 100px;
        width: 100px;
    }
    .productview{
        display: flex;
      flex-wrap: wrap;
        height: 280px;
        width: 300px;
        justify-content: space-evenly;
      
    }
    #smthing else{
        margin: auto;
    }