/* Body content   */
body{
    background-color: #161925;
}
body::-webkit-scrollbar {
  
    display: none;
  
}
 body{
      margin: 0px;
}


  
    
    .d-block{
        width: 700px;
        height: 400px;

    }

    .carousel-item.active{
        display: flex;
    }

    .carouselink{
    display: flex;
        float: left;
    background-color: #8EA8C3;
    height: 400px;
    
    align-items: center;
    align-content: center;



    }

    .carouselhead{
        text-align: center;
        margin: 50px;
        margin-right: 9px;
    }
    .btn.btn-primary{
        margin-right: 20px;
        border-radius: 20px;
        background-color: #406E8E;
    }
    /* PRODUCT CAROSUEL START */
    .product.categorys{
    background-color: #8EA8C3;
    height: 370px;
    border-radius: 25px;
    display: flex;
    }
    .product.box{
        margin-top: 30px;
        margin-left: 50px;
        height: 300px;
        width: 300px;
        background-color: #406E8E;
        border-radius: 10px;
        text-align: center;
        font-size: 19px;
        font-family: sans-serif;
        
    }

    .d-block.w-20{
        margin: 1px;
        height: 100px;
        width: 100px;
    }
    .productview{
        display: flex;
      flex-wrap: wrap;
        height: 280px;
        width: 300px;
        justify-content: space-evenly;
      
    }
    #smthing else{
        margin: auto;
    }
