.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    font-size: 100px;
    font-family: Bebas Neue , cursive;
}
  .container {
    position: relative;
    text-align: center;
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: #23395B;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 80px;
    border-radius: 5px;  

}
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 10px;
    
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: rgb(97, 93, 93);
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
  
  .navbutton a:hover {
      background: rgb(97, 93, 93);
      color: black;
    }
  
  .navbutton{
      border-radius: 10px;
      height: 23px;
      width: 180px;
      margin-left: 20px;
      background-color: transparent;
      color: white;
      border-width: thin;
      border-color: grey;
      
  }

  .navsearch{
    margin: 20px;
    width: 300px;
    border-radius: 10px;
    height: 22px;
}

.cartbutton{
    margin-left: 20px;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    border-width: thin;
    border-color: grey;
}

.malwart{
    margin: 10px;
    color: white;
}