.product.categorys {
  background-color: transparent;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product.box {
  margin-top: 50px;
  margin-left: 50px;
  height: 300px;
  width: 300px;
  background-color: #406e8e;
  border-radius: 10px;
  text-align: center;
  font-size: 19px;
  font-family: sans-serif;
}

.d-block.w-20 {
  border-radius: 5px;
  height: 130px;
  width: 130px;
  box-shadow: 13px 10px 30px black;
}

.d-block.w-20:hover {
  height: 138px;
  width: 138px;
  box-shadow: 13px 10px 10px black;
}

.productview {
  display: flex;
  flex-wrap: wrap;
  height: 295px;
  width: 300px;
  justify-content: space-evenly;
}

.categorytxt {
  font-size: 200px;
  font-weight: 100;
  font-family: Times;
  margin: 50px;
  color: whitesmoke;
  text-shadow: 11px 8px 10px rgb(63, 63, 63);
}
#categorycarousel {
  margin: 13px;
}
#categorycarousel2 {
  margin: 13px;
}
#categorycarousel3 {
  margin: 13px;
}
